<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My todolist</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <link rel="stylesheet" href="/main.css">
    <script src="/public/main.js"></script>
</head>

<body>
    <div class="header-todo">TOODELOOO</div>

    <div class="my-todo-wrapper">

        <div>
            <form class="add-new-todo" action="/createtodo" method="post">
                <input type="text" name="text" id="input1" placeholder="Add a new todo to your list">
                <input type="date" name="date" id="input2" placeholder="När ska det vara klart?">
                <button type="submit" id="add-btn">Add</button>
            </form>
        </div>

        <% todos.forEach((todo) => { %>
        <div class="todo-wrapper">
            <span class="todos"><%= todo.text %></span>
            <!-- <span class="todos"><%= todo.author %></span> -->
            <!-- <span class="todos"><%= todo.date %></spanclass="todos"> -->

            <a href="/edit/<%=todo._id%>" class="updateremove"><span class="fas fa-edit"></span></a>
            <a href="/delete/<%=todo._id%>" class="updateremove"><span class="fas fa-times"></span></a>

            <% }) %>

        </div>

    </div>

</body>

</html>