<%- include("header.ejs") %>

<body>
    <div class="todo-container">
        <small class="small"><a href="/about">About</a></small>
        <div class="header-todo">Your todo list</div>

        <div class="my-todo-wrapper">

            <div class="add-todo-wrapper">
                <form class="add-new-todo" action="/createtodo" method="post">
                    <input type="text" name="text" id="input1" placeholder="Vad ska du göra?">
                    <input type="date" name="date" id="input2" placeholder="När?">
                    <button type="submit" id="add-btn">Add</button>
                </form>
            </div>

            <% todos.forEach((todo) => { %>
            <div class="todo-wrapper">
                <span class="todos todo-text"><i class="far fa-check-circle"></i><%= todo.text %></span>
                <span class="todos todo-date"><%= todo.date %></span>
                <!-- <span class="todos"><%= todo.date %></spanclass="todos"> -->
                <div class="updateremove-wrapper">
                    <a href="/edit/<%=todo._id%>" class="updateremove"><span class="far fa-edit" id="update"></span></a>
                    <a href="/delete/<%=todo._id%>" class="updateremove"><i class="far fa-trash-alt"
                            id="remove"></i></a>
                </div>
            </div>
            <% }) %>

            <div class="sort-wrapper">
                <a href="/todo/?sort=1">Sortera datum efter fallande</a>
                <a href="/todo/?sort=-1">Sortera datum efter stigande</a>
            </div>
        </div>
    </div>
    <div class="pagination-wrapper">
        <i class="fas fa-angle-left"></i>
        <a class="page-btn" id="btn1" href="/todo/?page=1">1</a>
        <a class="page-btn" id="btn2" href="/todo/?page=2">2</a>
        <a class="page-btn" id="btn2" href="/todo/?page=3">3</a>
        <i class="fas fa-angle-right"></i>
    </div>
</body>

</html>